<!doctype html>
<html lang="en">
  <head>

    <title>
      Tic Tac Toe
    </title>
    
    <link rel="stylesheet" href="static/colors.css">
    <link rel="stylesheet" href="static/stylish.css">

  </head>

  <body>

    <form action="" method="post">
      <input type="radio" name="color" value="1" > Red <br/>
      <input type="radio" name="color" value="2" > Blue <br/>
      <input type="radio" name="order" value="1" > First <br/>
      <input type="radio" name="order" value="2" > Second <br/>

      <input type="submit" value="Submit">

    </form>

  </body>

</html>
